{{#each this}}
<h2 class="card__name">{{name}}</h2>
<ul class="card__list">
    <li class="card__capital">Capital:{{capital}}</li>
    <li class="card__population">Papulation:{{population}}</li>
    <li class="card__languages">
        Languages:
        <ul class="languages">
            {{#each languages}}
            <li class="languages__item">{{this.name}}</li>
            {{/each}}
        </ul>
    </li>
</ul>
<img src="{{flag}}" alt="{{name}}" class="img-flag" />
{{/each}}